.tableStyles {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;   
}

tr:nth-child(2n) {
    background-color: var(--color-gray-100);
  }

th {
    background-color:black;
    color: white;
    text-align: left;
    padding: 0.25rem;
}

td {
    padding: 0.25rem;
}