.runContentAndFooterGrid {
    position: relative;
    display: grid;
    grid-template-rows: 90% 10%;
    gap: 0.5rem;
    width: 100%;
    top:8vh;
    height: 90vh;
    justify-items: start;
    align-items: start;
}

.runMainErrorContainer {
    position: relative;
    top:8vh;
    justify-items: start;
    align-items: start;
}