.bomDetail
{
    background-color:var(--color-gray-100);
    color: black;
    font: inherit;
    border-radius:6px;
    border:none;
    padding: 10px 30px 10px 10px;
    margin: 10px 0px; 
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    column-gap: 1rem;
    text-wrap: nowrap;
}

.bomDetailLabel
{
    font-weight: bold;
    margin: .2rem 0rem;
    grid-column: 1/2;
}

.bomDetailValue
{
    display:inline-block;
    margin: .2rem 0rem;
    grid-column: 2/3;
}