.workElementSetupText
{
    background-color:var(--color-gray-100);
    color: black;
    font: inherit;
    border-radius:6px;
    border:none;
    padding: 10px 10px 10px 10px;
    margin: .25rem; 
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}
.workElementSetupTextLabel
{
    font-weight: bold;
    text-wrap: nowrap;
}

.workElementSetupTextValue
{
    width:100%;
}