* {
  box-sizing: border-box;
}

:root {
  font-family: 'Graphik',Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-orange-100: #FF540A;
  --color-orange-70: #ff9362;
  --color-green-100: #00A76D;
  --color-green-70: #5cbc8c;
  --color-green-10: #e9f6ee;
  --color-purple-100: #933393;
  --color-purple-70: #c75dc7;
  --color-blue-100: #002856;
  --color-blue-70: #42517A;
  --color-blue-10: #e3e4eb;
  --color-lightblue-100: #009AD7;
  --color-lightblue-70: #7ebbe4;
  --color-pink-100: #E81159;
  --color-pink-70: #f97b8c;
  --color-pink-10:#ffeaeb;
  --color-yellow-100: #FEC10D;
  --color-yellow-70: #ffd572;
  --color-yellow-10: #fff8e8;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;
}

body {
  margin: 0;
  /* background-color: var(--color-gray-100); */
  font-family: 'Graphik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0rem 1rem;
}

label {
  margin-bottom: 0.05rem;
  margin-right: 1rem;
  color: black;
  font-weight: bold;
}

select {
  background-color:var(--color-gray-100);
  color: black;
  font: inherit;
/* background-position: right 10px center; */
/* background-repeat: no-repeat; */
  background-size: auto 75%;
  border-radius:6px;
  border:none;
  padding: 10px 30px 10px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-spacing: 0;
  border: 1px solid var(--color-blue-100);
  width: 100%;
}

tr:nth-child(2n) {
  background-color: var(--color-gray-100);
}

tr:hover
{
  background-color: var(--color-gray-300);
}

th {
  background-color:var(--color-blue-100);
  color: white;
  text-align: left;
  padding: 0.25rem;
}

td {
  padding: 0.25rem;
}
  
td.subCell
{
  padding: 1rem .75rem;
}

tr.subRow
{
  background-color:white;
}